.birthday{
    &__date{
        min-height: 20px;
        background: #000000;
        border-radius: 16px;
        font-weight: 500;
        font-size: 10px;
        line-height: 20px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-align: center;
        padding: 2px 8px;
        flex-shrink: 1;
        transition: 0.3s box-shadow;
        &:hover, &:focus{
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.41),0 0 15px rgba(0, 0, 0, 0.41),0 0 25px rgba(0, 0, 0, 0.41),0 0 35px rgba(0, 0, 0, 0.41);
        }
    }
    &__name{
        max-width: 234px;
        min-height: 24px;
        font-size: 13px;
        line-height: 24px;
        color: #000000;
        transition: 0.3s color;
        &:hover, &:focus{
            color: #FFFFFF;
        }
    }
}